<nav>
	<div class="chat-active">
		<img src="../chat/assets/img/girl.svg" class="thumb-img destination_img" />
		<span class="destination_name"><strong> &nbsp; Medina</strong></span>
	</div>
	<div class="search-chat">
		<i class="fa fa-search"></i>
		<input type="text" placeholder="Find Chat.." />
	</div>
</nav>
<aside>
	<div class="side-top">
		<div class="row">
			<div class="col-md-3 align-center">
				<img class="profile-img" src="../chat/assets/img/{{ img_profile }}"></img>
			</div>
			<div class="col-md-7 padding-top-30">
				<span class="username"> {{ username }}</span>
			</div>
			<div class="col-md-2 margin-top-20 padding-0">
				<div class="dropdown show">
					<a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<!-- <i class="fa fa-arrow-down"></i> -->
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>
			</div>
		</div>
		<div class="search-box">
			<i class="fa fa-search"></i>
			<input type="text" placeholder="Search Contact.." />
		</div>
	</div>
	<div class="tabcontent">
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/girl.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Sarah Johnson</span>
						<br/>
						<span class="chat-text">Lorem Ipsum dolor sit amet</span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">13:43 PM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/man.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Dave</span>
						<br/>
						<span class="chat-text">consectetur adipiscing elit</span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">11:43 AM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/testi.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Mikael Galkin</span>
						<br/>
						<span class="chat-text">ed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">15:43 PM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/testi2.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Edhelin</span>
						<br/>
						<span class="chat-text">quis nostrud exercitation ullamco laboris </span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">13:43 PM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/girl.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Fitriani Kim Arikagi</span>
						<br/>
						<span class="chat-text">heii narutoo</span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">13:43 PM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/man.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Amanda Stephani</span>
						<br/>
						<span class="chat-text">Excepteur sint occaecat cupidatat non proident, </span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">13:43 PM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/girl.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Savira</span>
						<br/>
						<span class="chat-text">voluptate velit esse cillum dolore</span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">13:43 PM</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row effect swipe" onclick="activeChat(this)">
			<div class="col-md-3">
				<img src="../chat/assets/img/testi2.svg" class="thumb-img" />
			</div>
			<div class="col-md-9 padding-0 c-button c-button--gooey">
				<div class="row padding-0">
					<div class="col-md-9 padding-0">
						<span>Fera</span>
						<br/>
						<span class="chat-text">laboris nisi ut aliquip ex ea commodo</span>
					</div>
					<div class="col-md-3 padding-0">
						<span class="chat-time">13:43 PM</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>