<div class="sidebar-right">
	<div class="row">
		<div class="activity">
			<button class="effect swipe" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus"></i> | Add Activity</button>
		</div>
		<div class="todo">
			<h5>TODO List</h5>
			<ul>
				<li><i class="fa fa-book"></i> learn programming</li>
				<li><i class="fa fa-music"></i> playing the guitar</li>
				<li><i class="fa fa-bed"></i> Sleep</li>
			</ul>
		</div>
		<div class="online-user">
			<h5>Online Users</h5>
			<ul>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/testi2.svg" class="small-img" /> <span>Susan Polgar</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/girl.svg" class="small-img" /> <span>Savira</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/testi.svg" class="small-img" /> <span>Dave</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/man.svg" class="small-img" /> <span>John</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/testi2.svg" class="small-img" /> <span>Mikael Galkin</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/girl.svg" class="small-img" /> <span>Jane</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/testi.svg" class="small-img" /> <span>Juan</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/man.svg" class="small-img" /> <span>Mikhail Tal</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/testi2.svg" class="small-img" /> <span>Gery Kasparov</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/girl.svg" class="small-img" /> <span>Medina</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/testi.svg" class="small-img" /> <span>Paul Morphy</span></li>
				<li onclick="setActiveChat(this)"><img src="../chat/assets/img/man.svg" class="small-img" /> <span>Donal byrne</span></li>
			</ul>
		</div>
	</div>
</div>