<div class="container">
	<div class="row">
		<div class="content">
			<div class="row">
				<div class="col-md-6 left">
					<img class="img-logo" src="../login/assets/img/logo.png"/>
					<p/>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</span>
					<p/>
					<div class="form">
						<form action="/do_login" method="post">
							<div class="form-group">
								<i class="fa fa-user"></i>
								<input type="text" name="username" id="username" placeholder="Enter Username" autocomplete="off" />
							</div>
							<div class="form-group">
								<i class="fa fa-lock"></i>
								<input type="password" name="password" id="password" placeholder="Enter Password" autocomplete="off" />
							</div>
							<button type="submit">SIGN IN</button>
						</form>
						<p/>
						<span> Don't have an account ? </span><span class="color-red"> Sign Up</span>
					</div>
					<div class="socialmedia">
						<span>Login With Social Media</span>
						<p/>
						<ul>
							<li><button><i class="fa fa-facebook"></button></i>
							<li><button><i class="fa fa-twitter"></button></i>
							<li><button><i class="fa fa-linkedin"></button></i>
						</ul>
					</div>
				</div>
				<div class="col-md-6 right" style="background-image: url('../login/assets/img/background-2.jpg');">
					<div class="overlay">
						<h4>Din't Have an Account ?</h4>
						<span>lLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</span>
						<p/>
						<button>SIGN UP</button>
					</div>
				</div>
			</p>
		</div>
	</div>
</div>